html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
}

nav{
    background-color: white;
    width: 225px;
    height: 100%;
    box-shadow: 1px 5px 5px rgb(165, 165, 165);
    position: fixed;
    left: 0;
    border-top: 1px rgb(165, 165, 165) solid;
    margin-top: 140px;
}

@font-face{
    font-family: 'GrandHotel';
    src: url('/camagru/public/polices/GrandHotel-Regular.otf');
}

ul{
    list-style-type: none;
    font-size: 35px;
    font-family: 'GrandHotel';
}

li{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.border{
    border-bottom: 1px rgb(165, 165, 165) solid;
    width: 95px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.first{
    color: #1e272e;
    padding-top: 20px;
}

.this{
    color: #b33939;
    margin-top: 20px;
}

.other{
    color: #1e272e;
    margin-top: 20px;
}

#home{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#gallery{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#camera{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#profile{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

section{
    margin-top: auto;
    margin-left: auto;
    padding-top: 160px;
    padding-left: 240px;
    padding-bottom: 240px;
}

#frame-cam{
    border: 5px #636e72 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#photo-list{
    overflow: auto;
    width: 180px;
    height: 495px;
    background-color: white;
    border: 1px #a4b0be solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-padd-img{
    padding-bottom: 2px;
    padding-top: 8px;
}

.aside-image{
    width: 150px;
    padding: 0;
    border: 1px #485460 solid;
    border-radius: 6px;
}

#cont-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#canvas-and-photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

#album-photo{
    width: 23px;
    position: relative;
    top: 3px;
    right: 5px;
}

#album-text{
    font-family: 'GrandHotel';    
    font-size: 25px;
    color: #b33939;
    margin: 0px;
    margin-bottom: 5px;
}

#canvas{
    border: 5px #222f3e solid;
    border-radius: 8px;
}

#take-picture{
    display: none;
    height: 50px;
    width: 65px;
    margin-left: 13px;
    border: 0;
    border-radius: 18px;
    background: #b33939;
    cursor: pointer;
}

#take-photo{
    width: 25px;
    position: relative;
    top: 2px;
}

#save-butt{
    display: none;
    margin-top: -125px;
    margin-right: -211px;
    margin-bottom: 87px;
}

#save{
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 8px;
    background: rgb(95, 203, 247);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    padding-left: 10px;
    margin-right: 25px;
    opacity: 0.6;
}

#save:active{
    background: #222f3e;
}

#save-img{
    width: 15px;
    position: relative;
    top: 2px;
    right: 8px;
}

#delete{
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 8px;
    background: #EA2027;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    padding-left: 5px;
    opacity: 0.6;
}

#delete:active{
    background: #ff7979;
}

#delete-img{
    width: 17px;
    position: relative;
    top: 2px;
    right: 5px;
}

#buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -220px;
}

#button-cam{
    height: 40px;
    width: 160px;
    border: 0;
    border-radius: 8px;
    background: #222f3e;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    padding-left: 5px;
    margin-right: 120px;
}

#button-cam:active{
    background: #40739e;
}

#rec{
    width: 15px;
    position: relative;
    top: 2px;
    right: 8px;
}

#downl-file{
    height: 40px;
    width: 160px;
    border: 0;
    border-radius: 5px;
    background: #f19066;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    padding-left: 8px;
}

#downl-file:active{
    background: #eb4d4b;
}

#import{
    width: 18px;
    position: relative;
    top: 2px;
    right: 6px;
}

#filter-cont{
    margin-left: 10px;
}

#filter{
    width: 18px;
    position: relative;
    right: 5px;
}

#filters-tittle {
    font-family: 'GrandHotel';
    font-size: 25px;
    color: #b33939;
    margin: 0;
}

#filters-cont{
    overflow: auto;
    height: 140px;
    width: 880px;
    background-color: white;
    border: 1px #a4b0be solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 0;
}

.filters-png{
    margin-left: 20px;
    padding: 0;
    padding-right: 10px;

}

.filters-img{
    width: 70px;
    cursor: pointer;
}

@media all and (max-width: 950px)
{
    nav
    {
        margin-top: 105px;
        width: 175px;
    }

    ul
    {
        font-size: 27px;
    }

    #home
    {
        width: 25px;
    }

    #gallery
    {
        width: 25px;
    }

    #camera
    {
        width: 25px;
    }

    #profile
    {
        width: 25px;
    }

    .border
    {
        width: 75px;
    }

    section
    {
        padding-top: 120px;
        padding-left: 195px;
    }
}

@media all and (max-width: 600px)
{
    nav
    {
        margin-top: 65px;
        width: 75px;
        box-shadow: 0px 5px 5px rgb(165, 165, 165);
    }

    ul
    {
        padding-left: 15px;
        font-size: 19px;
    }

    #home
    {
        width: 20px;
        padding-left: 12px;
    }

    #gallery
    {
        width: 20px;
        padding-left: 12px;
    }

    #camera
    {
        width: 20px;
        padding-left: 12px;
    }

    #profile
    {
        width: 20px;
        padding-left: 12px;
    }

    .border
    {
        width: 30px;
    }

    section
    {
        padding-left: 85px;
        padding-bottom: 130px;
        padding-top: 70px;
    }
}