html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
}

nav{
    background-color: white;
    width: 225px;
    height: 100%;
    box-shadow: 1px 5px 5px rgb(165, 165, 165);
    position: fixed;
    left: 0;
    border-top: 1px rgb(165, 165, 165) solid;
    margin-top: 140px;
}


@font-face{
    font-family: 'GrandHotel';
    src: url('/camagru/public/polices/GrandHotel-Regular.otf');
}

ul{
    list-style-type: none;
    font-size: 35px;
    font-family: 'GrandHotel';
}

li{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.border{
    border-bottom: 1px rgb(165, 165, 165) solid;
    width: 95px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.this{
    color: #b33939;
    padding-top: 20px;
}

.other{
    color: #1e272e;
    margin-top: 20px;
}

#home{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#gallery{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#camera{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#profile{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

section{
    margin-top: auto;
    margin-left: auto;
    padding-top: 140px;
    padding-left: 225px;
    padding-bottom: 250px;
}

#site-pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 145px;
    align-items: center;
}

@font-face{
    font-family: 'GrandHotel';
    src: url('/camagru/public/polices/GrandHotel-Regular.otf');
}

#user-tittle{
    margin: 0px;
    font-family: 'GrandHotel';
    font-size: 35px;
    color: #353b48;
}

#pictures-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 15px;
    width: 100%;
    height: 610px;
}

.img-and-username{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    padding-bottom: 1px;
    width: 339px;
    height: 285px;
    border-bottom: 1px #b2bec3 solid;
    border-radius: 2px;
}

.picture-div{
    position: relative;
    display: inline;
    width: 339px;
    height: 254px;
}

.pict-link{
    display: block;
    width: 339px;
    height: 254px;
}

.user-pictures{
    width: 339px;
    border-radius: 2px;
}

.username-username{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 7px;
    justify-content: space-between;
    align-items: center;
}

.user-2{
    position: relative;
    bottom: 1px;
}

.logo-username{
    width: 11px;
    height: 11px;
}

.user-name{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #353b48;
    font-weight: bold;
    position: relative;
    right: 2px;
}

.likes-and-comments{
    display: flex;
    flex-direction: row;
    width: 58px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 2px;
}

.like{
    width: 23px;
    cursor: pointer;
}

.comment-url{
    display: block;
    width: 20px;
    height: 20px;
}

.comments{
    width: 21px;
    cursor: pointer;
}

.time-picture{
    text-align: center;
    color: #353b48;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    right: 6px;
}

.time-br{
    display: none;
}

#number-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}

.number{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 22px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    text-decoration: none;
    color: #1e272e;
    border-radius: 3px;
    background: whitesmoke;
    margin-right: 3px;
}

.number:active{
    background: #dcdde1;
}

#this-number{
    background: #b33939;
    color: whitesmoke;
}

#this-arrow{
    background: whitesmoke;
}

#success{
    display: none;
    margin: 0px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#big-bloc-comment{
    display: none;
    width: 854px;
    margin-left: auto;
    margin-right: auto;
}

#cancel{
    width: 75px;
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-bottom: 3px;
    text-align: right;
    color: #EA2027;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#logo-cancel{
    width: 19px;
    margin-left: 3px;
    margin-bottom: -5px;
}

#bloc-comment{
    border: 2px #34495e solid;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.usr-img00{
    width: 250px;
    border-radius: 3px;
}

#form-div{
    display: flex;
    flex-direction: column;
}

#comment-logo{
    width: 17px;
    margin-right: 3px;
    margin-bottom: -1px;
}

#champs{
    resize: none;
    width: 460px;
    height: 140px;
    padding-top: 15px;
    padding-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    color: #2d3436;
    border: 2px #34495e solid;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#champs:focus{
    border: 2px #b33939 solid;
}

#button{
    width: 120px;
    height: 35px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 3px #1e272e solid;
    background: #b33939;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

#button:active {
    background-color: #ee928b;
}

#error-comment{
    text-align: center;
    font-size: 15px;
    color: #EA2027;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}

@media all and (max-width: 1670px)
{
    .img-and-username
    {
        width: 270px;
        height: 257px;
    }

    .picture-div
    {
        width: 270px;
        height: 203px;
    }

    .pict-link{
        width: 270px;
        height: 203px;
    }

    .user-pictures
    {
        width: 270px;
    }

    .user-name
    {
        font-size: 12px;
    }

    .likes-and-comments
    {
        flex-direction: column;
        width: 35px;
    }
}

@media all and (max-width: 1400px)
{
    #site-pictures
    {
        margin-bottom: 120px;
    }

    #pictures-div
    {
        width: 800px;
        height: 1200px;
    }

    #user-tittle
    {
        font-size: 31px;
    }

    section
    {
        padding-bottom: 50px;
    }

    #big-bloc-comment
    {
        width: 704px;
        margin-bottom: 60px;
    }

    #cancel
    {
        margin-right: 22px;
    }

    #bloc-comment
    {
        width: 650px;
        padding: 15px;
    }

    .usr-img00
    {
        width: 220px;
    }

    #champs
    {
        width: 370px;
        height: 120px;
        font-size: 11px;
    }
}


@media all and (max-width: 950px)
{
    nav
    {
        margin-top: 105px;
        width: 175px;
    }

    ul
    {
        font-size: 27px;
    }

    #home
    {
        width: 25px;
    }

    #gallery
    {
        width: 25px;
    }

    #camera
    {
        width: 25px;
    }

    #profile
    {
        width: 25px;
    }

    .border
    {
        width: 75px;
    }

    section
    {
        padding-top: 105px;
        padding-left: 175px;
    }

    #user-tittle
    {
        font-size: 28px;
    }

    .username-username
    {
        margin-top: 6px;
    }

    .user-name
    {
        font-size: 11px;
    }

    .likes-and-comments
    {
        width: 27px;
        height: 38px;
        align-items: initial;
    }

    .like
    {
        width: 17px;
    }

    .comments
    {
        width: 16px;
    }

    .time-picture
    {
        font-size: 9px;
    }

    .time-br
    {
        display: initial;
    }

    #pictures-div
    {
        width: 592px;
        height: 1120px;
    }

    .img-and-username
    {
        width: 240px;
        height: 225px;
    }

    .picture-div
    {
        width: 240px;
        height: 180px;
    }

    .pict-link{
        width: 240px;
        height: 180px;
    }

    .user-pictures
    {
        width: 240px;
    }

    .number
    {
        font-size: 15px;
        width: 18px;
        height: 30px;
    }

    #big-bloc-comment
    {
        width: 562px;
    }

    #cancel
    {
        font-size: 14px;
        margin-right: 0px;
        margin-bottom: 2px;
    }

    #logo-cancel
    {
        width: 18px;
        margin-bottom: -4px;
    }

    #bloc-comment
    {
        padding: 9px;
        width: 540px;
    }

    .usr-img00
    {
        width: 200px;
    }

    #champs
    {
        width: 300px;
        height: 100px;
        padding-top: 10px;
        padding-left: 11px;
        font-size: 10px;
    }

    #button
    {
        width: 110px;
        height: 32px;
        font-size: 12px;
        margin-top: 10px;
    }

    #success
    {
        font-size: 12px;
    }
}

@media all and (max-width: 600px)
{
    nav
    {
        margin-top: 65px;
        width: 75px;
        box-shadow: 0px 5px 5px rgb(165, 165, 165);
    }

    ul
    {
        padding-left: 15px;
        font-size: 19px;
    }

    #home
    {
        width: 20px;
        padding-left: 12px;
    }

    #gallery
    {
        width: 20px;
        padding-left: 12px;
    }

    #camera
    {
        width: 20px;
        padding-left: 12px;
    }

    #profile
    {
        width: 20px;
        padding-left: 12px;
    }

    .border
    {
        width: 30px;
    }

    section
    {
        padding-left: 75px;
        padding-bottom: 30px;
        padding-top: 65px;
    }

    #site-pictures
    {
        margin-top: 15px;
        margin-bottom: 60px;
    }

    #user-tittle
    {
        font-size: 19px;
    }

    #pictures-div
    {
        width: 288px;
        height: 610px;
        margin-top: 55px;
    }

    .img-and-username
    {
        width: 115px;
        height: 120px;
    }

    .picture-div
    {
        width: 115px;
        height: 86px;
    }

    .pict-link{
        width: 115px;
        height: 86px;
    }

    .user-pictures
    {
        width: 115px;
    }

    .username-username
    {
        margin-top: 3px;
    }

    .logo-username
    {
        width: 7px;
        height: 7px;
    }

    .user-name
    {
        font-size: 5px;
    }

    .likes-and-comments
    {
        width: 17px;
        height: 29px;
        bottom: -2px;
    }

    .like
    {
        width: 12px;
    }

    .comments
    {
        width: 11px;
    }

    .time-picture
    {
        font-size: 5px;
        right: 0px;
    }

    .number
    {
        font-size: 10px;
        width: 13px;
        height: 22px;
    }

    #cancel
    {
        font-size: 11px;
        width: 60px;
        padding: 4px;
    }

    #logo-cancel
    {
        width: 14px;
        margin-bottom: -3px;
        margin-left: 2px;
    }
    
    #big-bloc-comment
    {
        width: 258px;
    }

    #bloc-comment
    {
        flex-direction: column;
        width: 240px;
        padding: 7px;
    }

    .usr-img00
    {
        width: 100px;
    }

    #form-div
    {
        margin-top: 10px;
    }

    #champs
    {
        width: 215px;
        height: 55px;
        font-size: 7px;
        padding-top: 7px;
    }

    #button
    {
        width: 85px;
        height: 24px;
        font-size: 9px;
        margin-top: 7px;
    }

    #success
    {
        font-size: 9px;
        margin-top: 50px;
    }
}