html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: whitesmoke;
}

#frame{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px rgb(200, 200, 200) solid;
    width: 360px;
    height: 678px;
}

#logo{
    width: 285px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

#phrase{
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(142, 142, 142);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    background-color: whitesmoke;
    width: 290px;
    height: 40px;
    border: 1px rgb(200, 200, 200) solid;
    padding-left: 11px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    border-radius: 4px;
}

.row{
    margin-top: 9px;
}

button{
    width: 303px;
    height: 33px;
    border: 1px rgb(200, 200, 200) solid;
    background-color: #b33939;
    font-size: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    margin-top: 21px;    
    margin-bottom: 20px;
}

button:active {
    background-color: #ee928b;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}

small{
    max-width: 290px;
}

.error{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 11px;
    text-align: center;
    color: #EA2027;
}

#error2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 13px;
    text-align: center;
    color: #EA2027;
    max-width: 290px;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

#rights{
    font-family: 'JAi_';
    color: rgb(142,142,142);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
}

@media all and (max-width: 850px)
{
    #rights
    {
        padding-left: 0px;
        text-align: center;
        font-size: 12px;
    }
}

@media all and (max-width: 600px)
{    
    #frame
    {
        width: 300px;
        height: 600px;
        margin-bottom: 20px;
    }

    #logo
    {
        width: 240px;
    }
    
    #phrase
    {
        font-size:12px;
    }
    
    input
    {
        width: 245px;
        height: 35px;
        font-size: 11px;
    }

    small{
        max-width: 270px;
    }

    button
    {
        width: 258px;
        height: 28px;
        font-size: 12px;
    }

    #error2{
        max-width: 258px;
        font-size: 12px;
    }

    p
    {
        font-size: 12px;
    }

    footer
    {
        height: 20px;
    }

    #rights
    {
        padding-left: 0px;
        text-align: center;
        font-size: 12px;
        margin: 0px;
    }
}