html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
}

nav{
    background-color: white;
    width: 225px;
    height: 100%;
    box-shadow: 1px 5px 5px rgb(165, 165, 165);
    position: fixed;
    left: 0;
    border-top: 1px rgb(165, 165, 165) solid;
    margin-top: 140px;
}


@font-face{
    font-family: 'GrandHotel';
    src: url('/camagru/public/polices/GrandHotel-Regular.otf');
}

ul{
    list-style-type: none;
    font-size: 35px;
    font-family: 'GrandHotel';
}

li{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.border{
    border-bottom: 1px rgb(165, 165, 165) solid;
    width: 95px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.first{
    color: #1e272e;
    padding-top: 20px;
}

.this{
    color: #b33939;
    margin-top: 20px;
}

.other{
    color: #1e272e;
    margin-top: 20px;
}

#home{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#gallery{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#camera{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#profile{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#success{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #27ae60;
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 120px;
}

section{
    margin-top: auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 115px;
    padding-left: 0px;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#profileInfo{
    background-color: white;
    width: 700px;
    height: 735px;
    margin-top: 45px;
    margin-left: 111px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(165, 165, 165);
}

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}

#expl{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(142,142,142);
    margin-top: -15px;
    font-size: 14px;
}

.label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2c3e50;
    font-size: 16px;
    margin: 0px;
}

.lines{
    border-bottom: 1px #b33939 dashed;
    width: 421px;
    margin-left: 23px;
}

#line1{
    margin-top: 65px;
    margin-left: 150px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.lineOther{
    margin-top: 23px;
    margin-left: 150px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

#lineLast{
    margin-top: 23px;
    margin-left: 150px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
}

#lastname{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 210px;
}

#firstname{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 189px;
}

#pseudo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 121px;
}

#email{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 199px;
}

.labelRadio{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 15px;
    font-weight: bold;
}

#radioAyn{
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    margin-left: 105px;
}

#activated{
    display: flex;
    flex-direction: row;
}

#deactivated{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.check{
    width: 22px;
    height: 22px;
    margin-top: 10px;
}

#notif{
    width: 360px;
}

#butt{
    margin-top: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttOne1{
    cursor: pointer;
    background-color: #b33939;
    font-weight:bold;
    border-radius: 4px;
    padding-left: 17px;
    border: 0px;
    display: flex;
    flex-direction: row;
    width: 236px;
    height: 45px;
}

#buttOne1:active {
    background-color: #ee928b;
}

#buttOne2{
    cursor: pointer;
    font-size: 14px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}

#lock{
    width: 24px;
    height: 24px;
    padding-top: 13px;
    padding-right: 5px;
}

#buttTwo1{
    cursor: pointer;
    background-color: #3c6382;
    border-radius: 4px;
    padding-left: 11px;
    border: 0px;
    display: flex;
    flex-direction: row;
    width: 248px;
    margin-left: -40px;
    height: 45px;
}

#buttTwo1:active {
    background-color:#82ccdd;
}

#buttTwo2{
    cursor: pointer;
    font-size: 14px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;   
}

#settings{
    width: 19px;
    height: 19px;
    padding-top: 13px;
    padding-right: 6px;
}

#delete{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 80px;
    width: 207px;
    height: 25px;
    padding-top: 5px;
    margin: auto;
}

#trash{
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    margin-right: 1px;
}

#dlt{
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EA2027;
    font-size: 14px;
    font-weight:bold;
    margin: 0px;
}

@media all and (max-width: 1300px)
{
    section
    {
        padding-left: 250px;
        text-align: initial;
    }

    .lines
    {
    margin-left: 150px;
    }

    #success
    {
        margin-left: 0px;
    }
}

@media all and (max-width: 1150px)
{
    #profileInfo
    {
        margin-left: 80px;
    }
}

@media all and (max-width: 1060px)
{
    #profileInfo
    {
        margin-left: 26px;
        margin-top: 30px;
    }
}

@media all and (max-width: 950px)
{
    nav
    {
        margin-top: 105px;
        width: 175px;
    }
    
    ul
    {
        font-size: 27px;
    }
    
    #home
    {
        width: 25px;
    }
    
    #gallery
    {
        width: 25px;
    }
    
    #camera
    {
        width: 25px;
    }
    
    #profile
    {
        width: 25px;
    }
    
    .border
    {
        width: 75px;
    }
    
    section
    {
        padding-top: 125px;
        padding-left: 85px;
    }

    #profileInfo
    {
        margin-top: 10px;
        margin-left: 111px;
        width: 550px;
        height: 705px;
    }
    
    .label
    {
        font-size: 15px;
    }
    
    #lastname
    {
        font-size: 15px;
        margin-left: 170px;
    }
    
    #firstname
    {
        font-size: 15px;
        margin-left: 149px;
    }
    
    #pseudo
    {
        font-size: 15px;
        margin-left: 85px;
    }
    
    #email
    {
        font-size: 15px;
        margin-left: 159px;
    }

    .lines
    {
        margin-left: 80px;
        width: 388px;
    }
    
    #line1
    {
        padding-bottom: 4px;
        margin-left: 80px;
    }
    
    .lineOther
    {
        margin-top: 20px;
        padding-bottom: 5px;
        margin-left: 80px;
    }

    #lineLast
    {
        margin-left: 80px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .labelRadio
    {
        font-size: 13px;
    }

    #radioAyn
    {
        padding-top: 7px;
        margin-left: 93px;
    }

    .check
    {
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }
    
    #butt
    {
        flex-direction: column;
        margin-top: 80px;
        width: 285px;
        align-items: center;
    }
    
    #buttOne1
    {
        padding-left: 22px;
        padding-right: 0px;
        width: 242px;
        height: 45px;
        margin-top: -35px;
        margin-bottom: 0px;
    }

    #buttOne2
    {
        font-size: 14px;
    }

    #lock
    {
        width: 25px;
        height: 25px;
    }

    #marginA1{
        margin-bottom: 12px;
        width: 0px;
    }

    #marginA2{
        width: 0px;
    }
    
    #buttTwo1
    {
        padding-left: 15px;
        padding-right: 0px;
        width: 250px;
        height: 45px;
        margin-top: 3px;
        margin-left: 0px;
    }

    #buttTwo2
    {
        font-size: 14px;
    }

    #settings
    {
        width: 20px;
        height: 20px;
    }
    
    #success
    {
        font-size: 14px;
        margin-top: 0px;
        margin-left: 90px;
    }

    #delete
    {
        top: 60px;
        width: 180px;
        height: 22px;
    }

    #dlt
    {
        font-size: 13px;
    }

    #trash
    {
        width: 14px;
        height: 14px;
        top: 0px;
    }
}

@media all and (max-width: 600px)
{
    nav
    {
        margin-top: 65px;
        width: 75px;
        box-shadow: 0px 5px 5px rgb(165, 165, 165);
    }

    ul
    {
        padding-left: 15px;
        font-size: 19px;
    }

    #home
    {
        width: 20px;
        padding-left: 12px;
    }

    #gallery
    {
        width: 20px;
        padding-left: 12px;
    }

    #camera
    {
        width: 20px;
        padding-left: 12px;
    }

    #profile
    {
        width: 20px;
        padding-left: 12px;
    }

    .border
    {
        width: 30px;
    }

    section
    {
        padding-left: 85px;
        padding-bottom: 41px;
        padding-top: 70px;
    }

    #profileInfo
    {
        background-color: whitesmoke;
        margin-top: 5px;
        margin-left: -50px;
        border: initial;
        border-radius: initial;
        box-shadow: initial;
        width: 312px;
        height: 660px;
    }

    h1
    {
        text-align: left;
        margin-left: 50px;
        margin-top: 0px;
        font-size: 16px;
    }

    #expl
    {
        text-align: left;
        margin-left: 45px;
        font-size: 10px;
    }

    .lines
    {
        margin-left: 61px;
        width: 178px;
    }
    
    #line1
    {
        margin-top: 44px;
        margin-left: 56px;
        margin-right: 0px;
        flex-direction: column;
    }
    
    .lineOther
    {
        margin-left: 57px;
        flex-direction: column;
        margin-right: 0px;
    }
    
    #lineLast
    {
        margin-top: 13px;
        margin-left: 57px;
        flex-direction: column;
        margin-right: 0px;
    }
    
    #lastname
    {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 6px;
    }
    
    #firstname
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }
    
    #pseudo
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }
    
    #email
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }

    #butt
    {
        align-items: initial;
    }
    
    .label
    {
        font-size: 12px;
    }

    .labelRadio
    {
        font-size: 12px;
    }
    
    #radioAyn
    {
        margin-left: 5px;
        padding-top: 0px;
        margin-top: 4px;
    }

    .check
    {
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
    
    #lock
    {
        width: 20px;
        height: 20px;
        padding-top: 10px;
        padding-right: 3px;
    }
    
    #buttOne1
    {
        padding-left: 17px;
        width: 193px;
        height: 35px;
        margin-left: 78px;
        margin-bottom: 0px;
    }
    
    #buttOne2
    {
        font-size: 11px;
    }

    #marginA1{
        margin-bottom: 13px;
        width: 0px;
    }

    #marginA2{
        width: 0px;
    }

    #settings
    {
        width: 16px;
        height: 16px;
        padding-top: 10px;
        padding-right: 6px;
    }

    #buttTwo1
    {
        padding-left: 9px;
        width: 203px;
        height: 35px;
        margin-left: 77px;
    }

    #buttTwo2
    {
        font-size: 11px;
    }

    #success
    {
        margin-left: 0px;
        font-size: 11px;
        width: 260px;
    }

    #delete
    {
        top: 40px;
        margin-left: 34%;
        width: 146px;
        height: 18px;
    }

    #dlt
    {
        font-size: 10px;
    }

    #trash
    {
        width: 11px;
        height: 11px;
        top: 0px;
    }
}