html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
}

body{
    background-color: whitesmoke;
}

#on_frame{
    padding-top: 310px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

#frame{
    background-color: white;
    /* margin: 310px auto 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px rgb(200, 200, 200) solid;
    width: 360px;
    height: 490px;
}

#logo{
    width: 285px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

#locked{
    text-align: center;
    width: 77px;
    margin-top: -70px;
    margin-bottom: 85px;
}

#phrase{
    margin-top: -65px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(142, 142, 142);
    font-family: Trebuchet MS;
    font-size:15px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    background-color: whitesmoke;
    width: 290px;
    height: 40px;
    border: 1px rgb(200, 200, 200) solid;
    padding-left: 11px;
    font-size: 13px;
    font-family:Trebuchet MS;
    font-weight:bold;
    border-radius: 4px;
}

#email{
    margin-bottom: 21px;
}

button{
    width: 303px;
    height: 33px;
    border: 1px rgb(200, 200, 200) solid;
    background-color: #b33939;
    font-size: 13px;
    color: white;
    font-family:Trebuchet MS;
    font-weight:bold;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    margin-bottom: 20px;
}

button:active {
    background-color: #ee928b;
}

a{
    text-decoration: none;
    color: rgba(59, 56, 56, 1);
    font-family:Trebuchet MS;
    font-size: 14px;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

#rights{
    font-family: 'JAi_';
    color: rgb(142,142,142);
    font-size: 14px;
    font-family:Trebuchet MS;
    padding-left: 40px;
}

@media all and (max-width: 500px)
{
    #frame
    {
        width: 300px;
        height: 452px;
        margin-top: 30px;
    }

    #logo
    {
        width: 240px;
    }
    
    #phrase
    {
        font-size:12px;
    }
    
    input
    {
        width: 245px;
        height: 35px;
        font-size: 11px;
    }

    button
    {
        width: 258px;
        height: 28px;
        font-size: 12px;
    }

    a
    {
        font-size: 12px;
    }

    footer
    {
        left: 0px;
    }

    #rights
    {
        text-align: center;
        font-size: 12px;
    }
}