html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#contenu{
    min-height: 100%;
    position: relative;
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    box-shadow: 105px 1px 10px rgb(165, 165, 165);
    position: fixed;
}

#userDiv{
    text-align: left;
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    flex-direction: row;
    padding-top: 42px;
    padding-left: 3px;
}


#user{
    width: 50px;
    height: 50px;
    padding-right: 3px;
}

#username{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#bottom{
    display: flex;
    flex-direction: row;
    padding-left: 31px;
}

#logout{
    width: 15px;
    height:15px;
    padding-right: 3px;
    padding-top: 11px;
    cursor: pointer;
}

#deconnex{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #EA2027;
    font-weight: bold;
    cursor: pointer;
}

#logoDiv{
    text-align: right;
}

#logo{
    width: 220px;
    padding-top: 53px;
    padding-right: 49px;
}

nav{
    background-color: white;
    width: 225px;
    height: 100%;
    box-shadow: 1px 5px 5px rgb(165, 165, 165);
    position: fixed;
    left: 0;
    border-top: 1px rgb(165, 165, 165) solid;
    margin-top: 140px;
}


@font-face{
    font-family: 'GrandHotel';
    src: url('/camagru/public/polices/GrandHotel-Regular.otf');
}

ul{
    list-style-type: none;
    font-size: 35px;
    font-family: 'GrandHotel';
}

li{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.border{
    border-bottom: 1px rgb(165, 165, 165) solid;
    width: 95px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.first{
    color: rgba(59, 56, 56, 1);
    padding-top: 20px;
}

.this{
    color: #b33939;
    margin-top: 20px;
}

.other{
    color: rgba(59, 56, 56, 1);
    margin-top: 20px;
}

#home{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#gallery{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#camera{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

#profile{
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}

section{
    margin-top: auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 115px;
    padding-left: 0px;
    text-align: -moz-center;
    text-align: -webkit-center;

}

#profileInfo{
    background-color: white;
    width: 700px;
    height: 640px;
    margin-top: 75px;
    margin-left: 111px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(165, 165, 165);
}

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}

#expl{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(142,142,142);
    margin-top: -11px;
    font-size: 14px;
}

.label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(142,142,142);
    font-size: 18px;
    margin: 0px;
}

#line1{
    margin-top: 75px;
    margin-left: 70px;
    margin-right: 90px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(165, 165, 165) solid;
}

.lineOther{
    margin-top: 23px;
    margin-left: 70px;
    margin-right: 90px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(165, 165, 165) solid;
}

#lineLast{
    margin-top: 23px;
    margin-left: 70px;
    margin-right: 90px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(165, 165, 165) solid;
}

#lastname{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 210px;
}

#firstname{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 185px;
}

#pseudo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 110px;
}

#email{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 197px;
}

#radio1{
    width: 15px;
    height: 15px;
    margin-left: 17px;
}

#radio2{
    width: 15px;
    height: 15px;
    margin-left: 35px;
}

.labelRadio{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e272e;
    font-size: 16px;
    font-weight: bold;
}

#notif{
    width: 360px;
}

#butt{
    margin-top: 55px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttOne1{
    cursor: pointer;
    background-color: #b33939;
    font-weight:bold;
    border-radius: 4px;
    padding-left: 23px;
    padding-right: 23px;
    border: 0px;
    display: flex;
    flex-direction: row;
}

#buttOne2{
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}

#lock{
    width: 28px;
    height: 28px;
    padding-top: 13px;
    padding-right: 5px;
}

#buttTwo1{
    cursor: pointer;
    background-color: #2c3e50;
    border-radius: 4px;
    padding-left: 23px;
    padding-right: 23px;
    border: 0px;
    display: flex;
    flex-direction: row;
}

#buttTwo2{
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;   
}

#settings{
    width: 23px;
    height: 23px;
    padding-top: 13px;
    padding-right: 6px;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 75%;
    height: 50px;
    margin-left: 225px;
}

#rights{
    color: rgb(142,142,142);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 25px;
}

@media all and (max-width: 1300px)
{
    section
    {
        padding-left: 250px;
        text-align: initial;
    }
}

@media all and (max-width: 1150px)
{
    #profileInfo
    {
        margin-left: 80px;
    }
}

@media all and (max-width: 1060px)
{
    #profileInfo
    {
        margin-left: 26px;
    }
}

@media all and (max-width: 950px)
{
    #logo
    {
        width: 170px;
        padding-top: 37px;
        padding-right: 23px;
    }
    
    header
    {
        height: 105px;
    }
    
    #top
    {
        padding-top: 12px;
    }
    
    #bottom
    {
        margin-top: -3px;
    }
    
    #user
    {
        width: 40px;
        height: 40px;
    }
    
    nav
    {
        margin-top: 105px;
        width: 175px;
    }
    
    ul
    {
        font-size: 27px;
    }
    
    #home
    {
        width: 25px;
    }
    
    #gallery
    {
        width: 25px;
    }
    
    #camera
    {
        width: 25px;
    }
    
    #profile
    {
        width: 25px;
    }
    
    .border
    {
        width: 75px;
    }
    
    section
    {
        padding-top: 50px;
        padding-left: 85px;
    }

    #profileInfo
    {
        margin-left: 111px;
    }
    
    .label
    {
        font-size: 15px;
    }
    
    #lastname
    {
        font-size: 15px;
        margin-left: 170px;
    }
    
    #firstname
    {
        font-size: 15px;
        margin-left: 149px;
    }
    
    #pseudo
    {
        font-size: 15px;
        margin-left: 85px;
    }
    
    #email
    {
        font-size: 15px;
        margin-left: 159px;
    }
    
    .labelRadio
    {
        font-size: 14px;
    }
    
    #radio1
    {
        margin-left: 7px;
    }
    
    #radio2
    {
        margin-left: 20px;
    }
    
    #line1
    {
        padding-bottom: 4px;
    }
    
    .lineOther
    {
        margin-top: 14px;
        padding-bottom: 4px;
    }
    
    #butt
    {
        flex-direction: column;
        margin-top: 65px;
    }
    
    #buttOne1
    {
        padding-left: 15px;
        padding-right: 0px;
        width: 268px;
        height: 46px;
        margin-left: 120px;
        margin-top: -35px;
        margin-bottom: 12px;
    }
    
    #buttTwo1
    {
        padding-left: 15px;
        padding-right: 0px;
        width: 268px;
        height: 46px;
        margin-left: 120px;
    }
    
    footer
    {
        margin-left: 165px;
        height: 45px;
    }
    
    #rights
    {
        padding-left: 80px;
        font-size: 13px;
    }
    
    #profileInfo
    {
        width: 550px;
        height: 640px;
    }
}

@media all and (max-width: 600px)
{
    #logo
    {
        display: none;
    }
    header
    {
        height: 65px;
        box-shadow: 65px 0px 5px rgb(165, 165, 165);
    }
    
    #userDiv
    {
        padding-left: 5px;
    }
    
    #top
    {
        padding-top: 5px;
        padding-left: 1px;
    }
    
    #user
    {
        width: 30px;
        height: 30px;
    }
    
    #username
    {
        font-size: 13px;
    }
    
    #bottom
    {
        padding-left: 0px;
        margin-top: -5px;
    }
    
    #logout
    {
        width: 10px;
        height: 10px;
        padding-top: 10px;
    }

    #deconnex
    {
        font-size: 9px;
    }
    
    nav
    {
        margin-top: 65px;
        width: 75px;
        box-shadow: 0px 5px 5px rgb(165, 165, 165);
    }

    ul
    {
        padding-left: 15px;
        font-size: 19px;
    }

    #home
    {
        width: 20px;
        padding-left: 12px;
    }

    #gallery
    {
        width: 20px;
        padding-left: 12px;
    }

    #camera
    {
        width: 20px;
        padding-left: 12px;
    }

    #profile
    {
        width: 20px;
        padding-left: 12px;
    }

    .border
    {
        width: 30px;
    }

    section
    {
        padding-left: 85px;
        padding-bottom: 100px;
        padding-top: 70px;
    }

    #profileInfo
    {
        background-color: whitesmoke;
        margin-top: 20px;
        margin-left: -50px;
        border: initial;
        border-radius: initial;
        box-shadow: initial;
        height: 550px;
        width: 312px;
    }

    h1
    {
        text-align: left;
        margin-left: 50px;
        margin-top: 20px;
        font-size: 16px;
    }

    #expl
    {
        text-align: left;
        margin-left: 45px;
        font-size: 10px;
    }

    .label
    {
        font-size: 12px;
    }

    .labelRadio
    {
        font-size: 13px;
    }

    #line1
    {
        margin-top: 44px;
        margin-left: 56px;
        margin-right: 0px;
        flex-direction: column;
    }

    .lineOther
    {
        margin-left: 57px;
        flex-direction: column;
        margin-right: 0px;
    }
    
    #lineLast
    {
        margin-top: 13px;
        margin-left: 57px;
        flex-direction: column;
        margin-right: 0px;
    }

    #lastname
    {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 6px;
    }

    #firstname
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }

    #pseudo
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }

    #email
    {
        font-size: 13px;
        margin-left: 4px;
        margin-top: 6px;
    }

    #radioAyn
    {
        margin-top: 4px;
    }

    #radio1
    {
        margin-left: 3px;
    }

    #lock
    {
        width: 20px;
        height: 20px;
        padding-top: 10px;
        padding-right: 3px;
    }

    #buttOne1
    {
        padding-left: 8px;
        width: 203px;
        height: 35px;
        margin-left: 77px;
        margin-bottom: 13px;
    }

    #buttOne2
    {
        font-size: 11px;
    }

    #settings
    {
        width: 16px;
        height: 16px;
        padding-top: 10px;
        padding-right: 6px;
    }

    #buttTwo1
    {
        padding-left: 9px;
        width: 203px;
        height: 35px;
        margin-left: 77px;
    }

    #buttTwo2
    {
        font-size: 11px;
    }

    footer
    {
        margin-left: 63px;
        height: 32px;
    }

    #rights
    {
        font-size: 10px;
        padding-left: 25px;
    }

}