<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/camagru/public/change_password.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/camagru/public/pictures/logo_camagru.png" />
    <title>Modification du mot de passe - Camagru</title>
</head>
<body>
    <div id="contenu">
        <header>
            <div id="userDiv">
                <div id="top">
                    <img id="user" src="/camagru/public/pictures/user.png" alt="Utilisateur">
                    <p id="username">User-93400</p>
                </div>
                <div id="bottom">
                    <img id="logout" src="/camagru/public/pictures/logout.png" alt="Déconnexion">
                    <p id="deconnex">Se déconnecter</p>
                </div>
            </div>
            <div id="logoDiv">
                <img id="logo" src="/camagru/public/pictures/Camagru.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li class="first"><a href="/camagru/view/home.html" class="first"><img id="home" src="/camagru/public/pictures/home_black.png" alt="Acceuil">Acceuil</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/gallery.html" class="other"><img id="gallery" src="/camagru/public/pictures/gallery_black.png" alt="Galerie">Galerie</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/camera.html" class="other"><img id="camera" src="/camagru/public/pictures/camera_black.png" alt="Camera">Camera</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/profile.html" class="other"><img id="profile" src="/camagru/public/pictures/profile_black.png" alt="Profile">Profil</a></li>
                <div class="border"></div>
            </ul>
        </nav>
        <section>
            <div id="profileInfo">
                <h1>Modification du mot de passe</h1>
                <form method="post" action="inscription.php">
                    <div id="formBloc">
                        <div id="lineBlocTh">
                            <label for="pseudo" id="thLabel">Mot de passe actuel</label>                
                            <input type="password" id="firstLine">
                            <img class="pen" src="/camagru/public/pictures/edit.png" alt="Edit">
                        </div>
                        <div class="lineBlocOth">
                            <label for="email">Nouveau mot de passe</label>                
                            <input type="password" id="secondLine">
                            <img class="pen" src="/camagru/public/pictures/edit.png" alt="Edit">
                        </div>
                        <div class="lineBlocOth">                        
                            <label for="notif">Confirmez le nouveau<br/>mot de passe</label>                
                            <input type="password" id="thirdLine">
                            <img class="pen" src="/camagru/public/pictures/edit.png" alt="Edit">
                        </div>
                    </div>
                    <div id="butt">
                        <a href="/camagru/view/change_password.html">
                            <div id="buttOne1">
                                <img id="lock" src="/camagru/public/pictures/lock.png">
                                <p id="buttOne2">Réinitialiser le mot de passe</p>
                            </div>
                        </a>
                        <a href="/camagru/view/home.html">
                            <p id="retHome">Retour à l'acceuil</p>
                        </a>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <p id="rights">© 2020 CAMAGRU BY HG4DACHA</p>
        </footer>
    </div>
</body>
</html>