<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/pictures/logo_camagru.png" />
    <title>Home - Camagru</title>
</head>
<body>
    <header>
        <img id="logo" src="/camagru/public/pictures/Camagru.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li id="this"><a href="/camagru/view/home.html" id="this"><img id="home" src="/camagru/public/pictures/home_red.png" alt="Acceuil">Acceuil</a></li>
            <li class="other"><a href="/camagru/view/home.html" class="other"><img id="gallery" src="/camagru/public/pictures/gallery_black.png" alt="Galerie">Galerie</a></li>
            <li class="other"><a href="/camagru/view/home.html" class="other"><img id="camera" src="/camagru/public/pictures/camera_black.png" alt="Camera">Camera</a></li>
            <li class="other"><a href="/camagru/view/home.html" class="other"><img id="profile" src="/camagru/public/pictures/profile_black.png" alt="Profile">Profil</a></li>
        </ul>
    </nav>
    <section>
        <aside></aside>
    </section>
    <footer>
        <p id="rights">© 2020 CAMAGRU BY HG4DACHA</p>
    </footer>
</body>
</html>