<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/pictures/logo_camagru.png" />
    <title>Acceuil - Camagru</title>
</head>
<body>
    <div id="contenu">
        <header>
            <div id="userDiv">
                <div id="top">
                    <img id="user" src="/camagru/public/pictures/user.png" alt="Utilisateur">
                    <p id="username">User-93400</p>
                </div>
                <div id="bottom">
                    <img id="logout" src="/camagru/public/pictures/logout.png" alt="Déconnexion">
                    <p id="deconnex">Se déconnecter</p>
                </div>
            </div>
            <div id="logoDiv">
                <img id="logo" src="/camagru/public/pictures/Camagru.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li id="this"><a href="/camagru/view/home.html" id="this"><img id="home" src="/camagru/public/pictures/home_red.png" alt="Acceuil">Acceuil</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/home.html" class="other"><img id="gallery" src="/camagru/public/pictures/gallery_black.png" alt="Galerie">Galerie</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/home.html" class="other"><img id="camera" src="/camagru/public/pictures/camera_black.png" alt="Camera">Camera</a></li>
                <div class="border"></div>
                <li class="other"><a href="/camagru/view/home.html" class="other"><img id="profile" src="/camagru/public/pictures/profile_black.png" alt="Profile">Profil</a></li>
                <div class="border"></div>
            </ul>
        </nav>
        <section>
            <aside></aside>
        </section>
        <footer>
            <p id="rights">© 2020 CAMAGRU BY HG4DACHA</p>
        </footer>
    </div>
</body>
</html>